**
!Makefile
!.xsessionrc
!.bash_aliases
!.mybashrc.bash
!.docker/config.json
!.emacs
!.emacs.d/insert/**
!.emacs.d/lisp/my.el
!.gitconfig
!.config/gh/config.yml
!.config/git/ignore
!.latex/preamble.tex
!.myocamlinit.ml
!.ocp/ocp-indent.conf
!.inputrc
!bin/my-display-date
!bin/my-display-time
!bin/my-eshell
!bin/my-ssh-init
!.gnupg/gpg-agent.conf
