**
!Makefile
!.xsessionrc
!.bash_aliases
!.mybashrc.bash
!.docker/config.json
!.config/emacs/init.el
!.config/emacs/insert/**
!.config/emacs/lib/.ocamlformat
!.config/emacs/lib/Makefile
!.config/emacs/lib/dune
!.config/emacs/lib/dune-project
!.config/emacs/lib/ecamlx.ml
!.config/emacs/lib/ecamlx.mli
!.config/emacs/lib/emacs-config.opam
!.config/emacs/lib/my.ml
!.config/gh/config.yml
!.config/git/config
!.config/git/ignore
!.config/ocaml/init.ml
!.latex/preamble.tex
!.inputrc
!bin/my-display-date
!bin/my-display-time
!bin/my-eshell
!bin/my-ssh-init
!.gnupg/gpg-agent.conf
