**
!Makefile
!.xsessionrc
!.bash_aliases
!.mybashrc.bash
!.docker/config.json
!.config/emacs/.ocamlformat
!.config/emacs/Makefile
!.config/emacs/dune
!.config/emacs/dune-project
!.config/emacs/emacs-config.opam
!.config/emacs/init.ml
!.config/emacs/insert/**
!.config/emacs/lib/ecamlx/dune
!.config/emacs/lib/ecamlx/ecamlx.ml
!.config/emacs/lib/ecamlx/ecamlx.mli
!.config/emacs/lib/init-packages/dune
!.config/emacs/lib/init-packages/init_packages.ml
!.config/emacs/lib/my/dune
!.config/emacs/lib/my/my.ml
!.config/gh/config.yml
!.config/git/config
!.config/git/ignore
!.config/ocaml/init.ml
!.latex/preamble.tex
!.inputrc
!bin/my-display-date
!bin/my-display-time
!bin/my-eshell
!bin/my-ssh-init
!.gnupg/gpg-agent.conf
