/**
!/.dockerignore
!/.gitignore
!/Dockerfile
!/Makefile
!/README.md
!/.xsessionrc
!/.bash_aliases
!/.mybashrc.bash
!/.docker/
!/.docker/config.json
!/.config/
!/.config/emacs/
!/.config/emacs/.ocamlformat
!/.config/emacs/Makefile
!/.config/emacs/dune
!/.config/emacs/dune-project
!/.config/emacs/emacs-config.opam
!/.config/emacs/init.ml
!/.config/emacs/insert/
!/.config/emacs/insert/**
!/.config/emacs/lib/
!/.config/emacs/lib/ecamlx/
!/.config/emacs/lib/ecamlx/dune
!/.config/emacs/lib/ecamlx/ecamlx.ml
!/.config/emacs/lib/ecamlx/ecamlx.mli
!/.config/emacs/lib/my/
!/.config/emacs/lib/my/dune
!/.config/emacs/lib/my/my.ml
!/.config/gh/
!/.config/gh/config.yml
!/.config/git/
!/.config/git/config
!/.config/git/ignore
!/.config/ocaml/
!/.config/ocaml/init.ml
!/.latex/
!/.latex/preamble.tex
!/.inputrc
!/bin/
!/bin/my-display-date
!/bin/my-display-time
!/bin/my-eshell
!/bin/my-ssh-init
!/.gnupg/
!/.gnupg/gpg-agent.conf
