/**
!/.dockerignore
!/.gitignore
!/Dockerfile
!/Makefile
!/README.md
!/.xsessionrc
!/.config/
!/.config/bash/
!/.config/bash/bashrc.bash
!/.config/docker/
!/.config/docker/config.json
!/.config/emacs/
!/.config/emacs/.ocamlformat
!/.config/emacs/Makefile
!/.config/emacs/dune
!/.config/emacs/dune-project
!/.config/emacs/emacs-config.opam
!/.config/emacs/init.ml
!/.config/emacs/insert/
!/.config/emacs/insert/**
!/.config/emacs/lib/
!/.config/emacs/lib/ecamlx/
!/.config/emacs/lib/ecamlx/dune
!/.config/emacs/lib/ecamlx/ansi_color.ml
!/.config/emacs/lib/ecamlx/ansi_color.mli
!/.config/emacs/lib/ecamlx/auctex.ml
!/.config/emacs/lib/ecamlx/auctex.mli
!/.config/emacs/lib/ecamlx/auto_insert.ml
!/.config/emacs/lib/ecamlx/auto_insert.mli
!/.config/emacs/lib/ecamlx/cc_mode.ml
!/.config/emacs/lib/ecamlx/cc_mode.mli
!/.config/emacs/lib/ecamlx/comint.ml
!/.config/emacs/lib/ecamlx/comint.mli
!/.config/emacs/lib/ecamlx/command.ml
!/.config/emacs/lib/ecamlx/command.mli
!/.config/emacs/lib/ecamlx/comment.ml
!/.config/emacs/lib/ecamlx/comment.mli
!/.config/emacs/lib/ecamlx/compilation.ml
!/.config/emacs/lib/ecamlx/compilation.mli
!/.config/emacs/lib/ecamlx/current_buffer.ml
!/.config/emacs/lib/ecamlx/current_buffer.mli
!/.config/emacs/lib/ecamlx/customization.ml
!/.config/emacs/lib/ecamlx/customization.mli
!/.config/emacs/lib/ecamlx/custom.ml
!/.config/emacs/lib/ecamlx/custom.mli
!/.config/emacs/lib/ecamlx/debian_el.ml
!/.config/emacs/lib/ecamlx/debian_el.mli
!/.config/emacs/lib/ecamlx/defun.ml
!/.config/emacs/lib/ecamlx/defun.mli
!/.config/emacs/lib/ecamlx/diff_mode.ml
!/.config/emacs/lib/ecamlx/diff_mode.mli
!/.config/emacs/lib/ecamlx/dired.ml
!/.config/emacs/lib/ecamlx/dired.mli
!/.config/emacs/lib/ecamlx/display.ml
!/.config/emacs/lib/ecamlx/display.mli
!/.config/emacs/lib/ecamlx/eglot.ml
!/.config/emacs/lib/ecamlx/eglot.mli
!/.config/emacs/lib/ecamlx/eldoc.ml
!/.config/emacs/lib/ecamlx/eldoc.mli
!/.config/emacs/lib/ecamlx/ffap.ml
!/.config/emacs/lib/ecamlx/ffap.mli
!/.config/emacs/lib/ecamlx/files.ml
!/.config/emacs/lib/ecamlx/files.mli
!/.config/emacs/lib/ecamlx/fill.ml
!/.config/emacs/lib/ecamlx/fill.mli
!/.config/emacs/lib/ecamlx/find_file.ml
!/.config/emacs/lib/ecamlx/find_file.mli
!/.config/emacs/lib/ecamlx/frame.ml
!/.config/emacs/lib/ecamlx/frame.mli
!/.config/emacs/lib/ecamlx/git_commit.ml
!/.config/emacs/lib/ecamlx/git_commit.mli
!/.config/emacs/lib/ecamlx/grep.ml
!/.config/emacs/lib/ecamlx/grep.mli
!/.config/emacs/lib/ecamlx/hook.ml
!/.config/emacs/lib/ecamlx/hook.mli
!/.config/emacs/lib/ecamlx/icomplete.ml
!/.config/emacs/lib/ecamlx/icomplete.mli
!/.config/emacs/lib/ecamlx/imenu.ml
!/.config/emacs/lib/ecamlx/imenu.mli
!/.config/emacs/lib/ecamlx/indent.ml
!/.config/emacs/lib/ecamlx/indent.mli
!/.config/emacs/lib/ecamlx/ispell.ml
!/.config/emacs/lib/ecamlx/ispell.mli
!/.config/emacs/lib/ecamlx/keymap.ml
!/.config/emacs/lib/ecamlx/keymap.mli
!/.config/emacs/lib/ecamlx/load.ml
!/.config/emacs/lib/ecamlx/load.mli
!/.config/emacs/lib/ecamlx/magit.ml
!/.config/emacs/lib/ecamlx/magit.mli
!/.config/emacs/lib/ecamlx/major_mode.ml
!/.config/emacs/lib/ecamlx/major_mode.mli
!/.config/emacs/lib/ecamlx/man.ml
!/.config/emacs/lib/ecamlx/man.mli
!/.config/emacs/lib/ecamlx/markdown_mode.ml
!/.config/emacs/lib/ecamlx/markdown_mode.mli
!/.config/emacs/lib/ecamlx/minibuffer.ml
!/.config/emacs/lib/ecamlx/minibuffer.mli
!/.config/emacs/lib/ecamlx/minor_mode.ml
!/.config/emacs/lib/ecamlx/minor_mode.mli
!/.config/emacs/lib/ecamlx/mode_line.ml
!/.config/emacs/lib/ecamlx/mode_line.mli
!/.config/emacs/lib/ecamlx/novice.ml
!/.config/emacs/lib/ecamlx/novice.mli
!/.config/emacs/lib/ecamlx/package.ml
!/.config/emacs/lib/ecamlx/package.mli
!/.config/emacs/lib/ecamlx/paren.ml
!/.config/emacs/lib/ecamlx/paren.mli
!/.config/emacs/lib/ecamlx/process.ml
!/.config/emacs/lib/ecamlx/process.mli
!/.config/emacs/lib/ecamlx/project.ml
!/.config/emacs/lib/ecamlx/project.mli
!/.config/emacs/lib/ecamlx/proof_general.ml
!/.config/emacs/lib/ecamlx/proof_general.mli
!/.config/emacs/lib/ecamlx/reftex.ml
!/.config/emacs/lib/ecamlx/reftex.mli
!/.config/emacs/lib/ecamlx/regexp.ml
!/.config/emacs/lib/ecamlx/regexp.mli
!/.config/emacs/lib/ecamlx/scala_mode.ml
!/.config/emacs/lib/ecamlx/scala_mode.mli
!/.config/emacs/lib/ecamlx/semantic.ml
!/.config/emacs/lib/ecamlx/semantic.mli
!/.config/emacs/lib/ecamlx/server.ml
!/.config/emacs/lib/ecamlx/server.mli
!/.config/emacs/lib/ecamlx/smerge_mode.ml
!/.config/emacs/lib/ecamlx/smerge_mode.mli
!/.config/emacs/lib/ecamlx/startup.ml
!/.config/emacs/lib/ecamlx/startup.mli
!/.config/emacs/lib/ecamlx/term.ml
!/.config/emacs/lib/ecamlx/term.mli
!/.config/emacs/lib/ecamlx/treesit.ml
!/.config/emacs/lib/ecamlx/treesit.mli
!/.config/emacs/lib/ecamlx/tuareg.ml
!/.config/emacs/lib/ecamlx/tuareg.mli
!/.config/emacs/lib/ecamlx/user.ml
!/.config/emacs/lib/ecamlx/user.mli
!/.config/emacs/lib/ecamlx/value.ml
!/.config/emacs/lib/ecamlx/value.mli
!/.config/emacs/lib/ecamlx/vc.ml
!/.config/emacs/lib/ecamlx/vc.mli
!/.config/emacs/lib/ecamlx/whitespace.ml
!/.config/emacs/lib/ecamlx/whitespace.mli
!/.config/emacs/lib/ecamlx/windmove.ml
!/.config/emacs/lib/ecamlx/windmove.mli
!/.config/emacs/lib/ecamlx/window.ml
!/.config/emacs/lib/ecamlx/window.mli
!/.config/emacs/lib/ecamlx/winner.ml
!/.config/emacs/lib/ecamlx/winner.mli
!/.config/emacs/lib/my/
!/.config/emacs/lib/my/dune
!/.config/emacs/lib/my/my.ml
!/.config/emacs/lib/my/my.mli
!/.config/emacs/lib/position/
!/.config/emacs/lib/position/dune
!/.config/emacs/lib/position/position.ml
!/.config/emacs/lib/position/position.mli
!/.config/gh/
!/.config/gh/config.yml
!/.config/git/
!/.config/git/config
!/.config/git/ignore
!/.config/gnupg/
!/.config/gnupg/gpg-agent.conf
!/.config/ocaml/
!/.config/ocaml/init.ml
!/.config/readline/
!/.config/readline/inputrc
!/bin/
!/bin/my-eshell
!/bin/my-ssh-init
