/**
!/.gitignore
!/Makefile
!/README.md
!/.xsessionrc
!/.bash_aliases
!/.mybashrc.bash
!/.docker/
!/.docker/config.json
!/.emacs
!/.emacs.d/
!/.emacs.d/insert/
!/.emacs.d/insert/**
!/.emacs.d/lisp/
!/.emacs.d/lisp/my.el
!/.gitconfig
!/.config/
!/.config/git/
!/.config/git/ignore
!/.latex/
!/.latex/preamble.tex
!/.myocamlinit.ml
!/.ocp/
!/.ocp/ocp-indent.conf
!/.inputrc
