[alias]
	amend = commit --amend
	br = branch
	ci = commit
	co = checkout
	force-push = push --force-with-lease
	hub-open-pr = "!_() { \
			   local base=$(git rev-parse --abbrev-ref @{upstream} \
					| cut -d/ -f2); \
			   gh pr create --assignee=ilankri --base=$base \
			       \"$@\"; \
		       }; \
		       _"
	mv-pushed-br = "!_() { \
			      (test $# -eq 3 \
			      && git branch --move \"$2\" \"$3\" \
			      && git push \"$1\" :\"$2\" \"$3\") || exit 1; \
			  }; \
			  _"
	st = status
	sync = fetch --all --tags

[commit]
	gpgSign = true

[init]
	defaultBranch = main

[pull]
	rebase = true

[push]
	default = simple

[sendemail]
	smtpEncryption = tls
	smtpServer = smtp.gmail.com
	smtpUser = lankri.idir@gmail.com
	smtpServerPort = 587

[tag]
	gpgSign = true

[user]
	name = Idir Lankri
	signingKey = 403FE1E31C030F8B
